extends layout
block content
  h1= title
  - let ballid = toShow._id
  - let bColor = toShow.bColor
  - let bShape  = toShow.bShape
  - let bSize = toShow.bSize
  div
   div.row
     div(class='ballAttr mr-3') ball ID is:
     div #{ballid}
   div.row
     div(class='ballAttr mr-3') ball color is:
     div #{bColor}
   div.row
     div(class='ballAttr mr-3') ball shape is:
     div #{bShape}
   div.row
     div(class='ballAttr mr-3') ball size is:
     div #{bSize}